<section class="page header">
    <div class="copy header__copy" style="opacity: 1;">


        {% if block.backgroundImage | length %}
            {% include "/shared/functions/addImage.twig" with {
            'image': block.backgroundImage[0],
            'bgImage': true,
            'selector': '.header__year-wrap--'~year.title~loop.index,
            'format':block.backgroundImage[0].extension
            } %}
        {% endif %}

        <div class="header__year-wrap header__year-wrap--{{ year.title~loop.index }}">

            {#if video anchor#}
                {#<div class="header__video-bg-wrap">#}
                    {#<video muted loop autoplay class="header__video-bg">#}
                        {#<source src="/assets/video/SampleVideo_1280x720_1mb.mp4" type="video/mp4">#}
                        {#Your browser does not support the video tag.#}
                    {#</video>#}
                {#</div>#}
            {#endif video anchor#}

                {#{% if block.anchorImage | length %}#}
                    {#{% include "/shared/functions/addImage.twig" with { 'image': block.anchorImage[0] , 'picture_class':'header__year-photo' , 'format':block.anchorImage[0].extension } %}#}
                {#{% endif %}#}

            {% if block.anchorImage | length %}

                {% if block.anchorImage[0].kind == 'video' %}
                    <div class="header__video-bg-wrap">
                        <video muted loop autoplay class="header__video-bg">
                            <source src="{{ block.anchorImage[0].url }}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                {% elseif block.anchorImage[0].kind == 'image' %}
                    {% include "/shared/functions/addImage.twig" with { 'image': block.anchorImage[0] , 'picture_class':'header__year-photo' , 'format':block.anchorImage[0].extension } %}
                {% endif %}

            {% endif %}

            <h2 class="header__year-title">
                {{ year.title }}
            </h2>
        </div>
        {% if block.headerImage | length %}
            {% include "/shared/functions/addImage.twig" with {
            'image': block.headerImage[0],
            'bgImage': true,
            'selector': '.header__title-wrap--'~year.title~loop.index,
            'format':block.headerImage[0].extension
            } %}
        {% endif %}
        <div class="header__title-wrap header__title-wrap--{{ year.title~loop.index }}">
            <h2 class="header__title">
                {{ block.headerTitle |nl2br }}
            </h2>
        </div>

        <h2 class="header__year-title --mobile">
            {{ year.title }}
        </h2>
        <h2 class="header__title --mobile">
            {{ block.headerTitle }}
        </h2>
    </div>
</section>
