{% if block.backgroundImage | length %}
    {% include "/shared/functions/addImage.twig" with {
    'image': block.backgroundImage[0],
    'bgImage': true,
    'selector': '.detail',
    'format':block.backgroundImage[0].extension
    } %}
{% endif %}
<section class="page detail" id="page3">
    <div class="copy detail__copy" style="opacity: 1;">

        <div class="section-header">
            <div class="section-header__year">
                <h2>
                    {{ year.title }}
                </h2>
            </div>
            <div class="section-header__title">
                <h2>
                    {{ block.headerTitle }}
                </h2>
            </div>
        </div>

        <div class="detail__content">
            <div class="detail__photo-description">
                <h3>
                    {{ block.anchorDescription }}
                </h3>

                {#if video anchor#}
                    {#<div class="detail__video-bg-wrap">#}
                        {#<video muted loop autoplay class="detail__video-bg">#}
                            {#<source src="/assets/video/SampleVideo_1280x720_1mb.mp4" type="video/mp4">#}
                            {#Your browser does not support the video tag.#}
                        {#</video>#}
                    {#</div>#}
                {#endif video anchor#}

                {% if block.anchorImage | length %}
                    {% include "/shared/functions/addImage.twig" with { 'image': block.anchorImage[0] , 'picture_class':'detail__photo' , 'format':block.anchorImage[0].extension } %}
                {% endif %}
            </div>

            <div class="detail__txt-description">
                <h4>
                    {{ block.detailSubHeader }}
                </h4>
                <h5>
                    {{ block.detailDescription }}
                </h5>
            </div>
        </div>

        {% if block.parallaxImage | length %}
            {% include "/shared/functions/addImage.twig" with { 'image': block.parallaxImage[0] , 'picture_class':'detail__img-bg' , 'format':block.parallaxImage[0].extension } %}
        {% endif %}
    </div>
</section>
