{% if block.backgroundImage | length %}
    {% include "/shared/functions/addImage.twig" with {
    'image': block.backgroundImage[0],
    'bgImage': true,
    'selector': '.slideshow',
    'format':block.backgroundImage[0].extension
    } %}
{% endif %}
<section class="page slideshow" id="page5">
    <div class="copy slideshow__copy" style="opacity: 1;">

        <div class="section-header">
            <div class="section-header__year">
                <h2>
                    {{ year.title }}
                </h2>
            </div>
            <div class="section-header__title">
                <h2>
                    {{ block.headerTitle }}
                </h2>
            </div>
        </div>

        <h3 class="slideshow__title">
            {{ block.slideshowTitle }}
        </h3>

        <div class="slideshow__container">
            {% if block.slideshowImages | length %}
                {% for slide in block.slideshowImages.all() %}
                    <div class="slideshow__item {{ loop.index==1?'--first':'--animated' }}">
                        {% if slide.image | length %}
                            {% include "/shared/functions/addImage.twig" with { 'image': slide.image[0] , 'picture_class':'slideshow__item-photo' , 'format':slide.image[0].extension } %}
                        {% endif %}
                        <p class="slideshow__item-txt">
                            {{ slide.caption }}
                        </p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</section>
