{% if block.backgroundImage | length %}
    {% include "/shared/functions/addImage.twig" with {
    'image': block.backgroundImage[0],
    'bgImage': true,
    'selector': '.slideshow--'~year.title~loop.index,
    'format':block.backgroundImage[0].extension
    } %}
{% endif %}
<section class="page slideshow slideshow--{{ year.title~loop.index }}" id="page5">
    <div class="slideshow__close-btn-wrap">
        <div class="plus-minus close"></div>
    </div>
    <div class="copy slideshow__copy" style="opacity: 1;">

        <div class="section-header">
            <div class="section-header__year">
                <h2>
                    {{ year.title }}
                </h2>
            </div>
            <div class="section-header__title">
                <h2>
                    {{ block.headerTitle }}
                </h2>
            </div>
        </div>

        <h3 class="slideshow__title">
            {{ block.slideshowTitle }}
        </h3>

        <div class="slideshow__container">
            {% if block.slideshowImages | length %}
                {% for slide in block.slideshowImages.all() %}
                    <div class="slideshow__item {{ loop.index==1?'--first':'--animated' }}">

                        {#TODO (back) link output#}
                        <a class="slideshow__item-link" href="{{ slide.a_link }}" target="_blank">
                            {% if slide.image | length %}
                                {% include "/shared/functions/addImage.twig" with { 'image': slide.image[0] , 'picture_class':'slideshow__item-photo' , 'format':slide.image[0].extension } %}
                            {% endif %}
                        </a>
                        <p class="slideshow__item-txt">
                            {{ slide.caption }}
                        </p>
                    </div>
                {% endfor %}
                {#TODO refactor#}

                {#<p class="pintool">Click to expand below</p>#}
                {#<button class="button__plus">+</button>#}
            {% endif %}
            <div class="slideshow__expand-btn-wrap">
                <div class="slideshow__expand-btn --open">
                    <p>
                        Click to expand below
                    </p>
                    <div class="plus-minus collapsed"></div>
                </div>
                <div class="slideshow__expand-btn --close">
                    <p>
                        close
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
