{% set browserWarning = craft.entries().section('browserWarning').one() %}

<div class="old-b">
    <figure class="old-b__logo">
        <img src="/assets/logo-white.png" alt="logo">
    </figure>

    <div class="old-b__copy">
        <h3>
            {{ browserWarning.mainTitle | nl2br }}
        </h3>
        <br>
        <p>
            {{ browserWarning.body | nl2br }}
        </p>

        {% if browserWarning.links | length %}
            <ul class="old-b__links-list">
                {% for browser_link in browserWarning.links.all() %}
                    <li class="old-b__links-item">
                        <a class="old-b__links-link" href="{{ browser_link.ctaLink }}">
                           {{ browser_link.ctaText }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    {% if socialMedia.socialMedia | length %}
        {% set medialLinks_b = socialMedia.socialMedia[0] %}

        {% set mediaLinks_array = [
            [{'m_link': medialLinks_b.facebook, 'm_img':'/assets/iconmonstr-facebook-1-white.svg'}],
            [{'m_link': medialLinks_b.twitter, 'm_img':'/assets/iconmonstr-twitter-1-white.svg'}],
            [{'m_link': medialLinks_b.instagram, 'm_img':'/assets/iconmonstr-instagram-11-white.svg'}],
            [{'m_link': medialLinks_b.pinterest, 'm_img':'/assets/iconfinder_pinterest_306183-white.svg'}],
        ] %}

        <ul class="old-b__social menu-social">

            {% for mediaLinks_item  in mediaLinks_array %}
                {% if mediaLinks_item[0].m_link | length %}
                    <li class="menu-social__item">
                        <a class="menu-social__link" href="{{ mediaLinks_item[0].m_link }}" target="_blank">
                            <img src="{{ mediaLinks_item[0].m_img }}" alt="social-logo">
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>

    {% endif %}
</div>
