{% extends 'layout/skeleton/default' %}

{% block content %}

    {% include 'shared/components/loader/index.twig' %}

    {% include 'shared/components/old-browser/index.twig' %}

    <div class="homepage">

        {% include 'layout/navigation/index.twig' %}

        {% include 'layout/mobile-navigation/index.twig' %}

        {% set years = craft.entries().section('year').level(1).all() %}

        <div class="year-container">
            <div id="browser" style="width: 100%;height: 30vh;font-size: 100px; padding-top: 300px">

            </div>

            <div id="version" style="width: 100%;height: 30vh;font-size: 100px">

            </div>

            {% nav year in years %}

                {% if year.type == 'homepage' %}

                    {#TODO (fornt):Homepage fields#}

                    <div class="year" id="Top" data-title="">
                        {% include 'shared/components/header/index.twig' with {'block':year} %}
                    </div>

                {% else %}

                    {% set year_block = year.getChildren.all()[0].headerTitle %}

                    <div class="year" id="{{ year.title }}" data-title="{{ year_block }}">

                        {% for block in year.getChildren.all() %}

                            {% switch block.type %}

                            {% case "componentAHeader" %}

                            {% include 'shared/components/header/index.twig' %}

                            {% case "componentBDetail" %}

                            {% include 'shared/components/detail/index.twig' %}

                            {% case "componentBSlideshow" %}

                            {% include 'shared/components/slideshow/index.twig' %}

                            {% case "componentBVideo" %}

                            {% include 'shared/components/video/index.twig' %}

                            {% default %}

                            {% endswitch %}

                        {% endfor %}

                    </div>

                {% endif %}

            {% endnav %}
        </div>

        <div class="logo">
            <img src="/assets/logo-black.png" alt="">
        </div>

        {% if socialMedia.socialMedia | length %}

            {% set medialLinks = socialMedia.socialMedia[0] %}

            <ul class="menu-social">
                {% if medialLinks.facebook | length %}
                    <li class="menu-social__item">
                        <a class="menu-social__link" href="{{ medialLinks.facebook }}" target="_blank">
                            <img src="/assets/iconmonstr-facebook-1-black.svg" alt="social-logo">
                        </a>
                    </li>
                {% endif %}
                {% if medialLinks.twitter | length %}
                    <li class="menu-social__item">
                        <a class="menu-social__link" href="{{ medialLinks.twitter }}" target="_blank">
                            <img src="/assets/iconmonstr-twitter-1-black.svg" alt="social-logo">
                        </a>
                    </li>
                {% endif %}

                {% if medialLinks.instagram | length %}
                    <li class="menu-social__item">
                        <a class="menu-social__link" href="{{ medialLinks.instagram }}" target="_blank">
                            <img src="/assets/iconmonstr-instagram-11-black.svg" alt="social-logo">
                        </a>
                    </li>
                {% endif %}
                {% if medialLinks.pinterest | length %}
                    <li class="menu-social__item">
                        <a class="menu-social__link" href="{{ medialLinks.pinterest }}" target="_blank">
                            <img src="/assets/iconfinder_pinterest_306183-black.svg" alt="social-logo">
                        </a>
                    </li>
                {% endif %}
            </ul>
        {% endif %}
    </div>

{% endblock %}
