{% extends 'layout/skeleton/default' %}

{% block content %}

    <div class="homepage">

        {% include 'layout/navigation/index.twig' %}
        {% include 'layout/mobile-navigation/index.twig' %}

        {#TODO refactor#}
        {#<section class="page" id="page1">#}
            {#<h1>Alterna Video/Feature<br/>Section</h1>#}
        {#</section>#}

        {#<section class="page page2" id="page2">#}
            {#<div class="copy page2-copy page2-pin">#}
                {#<h2>2019</h2>#}
                {#<div class="divider"></div>#}
                {#<div class="page2-copy-content">#}
                    {#<h4>Alterna<br/>Brand History</h4>#}
                    {#<p>Nisi vero cumque voluptatem deserunt autem nihil inventore. Excepturi soluta assumenda autem aut totam debitis dolor. Voluptas sequi architecto autem nemo. Aut est consectetur ut nemo ut. Aut dolores excepturi aut est optio suscipit. Minus aut dignissimos ullam est. Iusto maxime velit veniam iste voluptate consequuntur qui.</p>#}
                {#</div>#}
            {#</div>#}
            {#<img class="page2-image1" src="assets/test-anchor-image.png">#}
            {#<div class="page2-image2 page2-pin"></div>#}
        {#</section>#}

        {% set years = craft.entries().section('year').level(1).all() %}

        <div class="year-container">

            {% nav year in years %}

                {% if year.type == 'homepage' %}

                    {#TODO (fornt):Homepage fields#}

                    {#-- Homepage section --#}

                    {#{% set homepageSection = year %}#}

                    {# Header Title #}
                    {#{{ homepageSection.headerTitle }}#}

                    {# Background Image #}
                    {#{% if homepageSection.backgroundImage | length %}#}
                        {#{{ homepageSection.backgroundImage[0].url }}#}
                    {#{% endif %}#}

                    {# Anchor Image #}
                    {#{% if homepageSection.anchorImage | length  %}#}
                        {#{{ homepageSection.anchorImage[0].url }}#}
                    {#{% endif %}#}
                    {##}
                    {# Header Image #}
                    {#{% if homepageSection.headerImage | length  %}#}
                        {#{{ homepageSection.headerImage[0].url }}#}
                    {#{% endif %}#}

                    {#--END Homepage section -#}
                {% else %}

                    {% set year_block = year.getChildren.all()[0].headerTitle %}

                    <div class="year" id="{{ year.title }}" data-title="{{ year_block }}">

                        {% for block in year.getChildren.all() %}

                            {% switch block.type %}

                            {% case "componentAHeader" %}

                            {% include 'shared/components/header/index.twig' %}

                            {% case "componentBDetail" %}

                            {% include 'shared/components/detail/index.twig' %}

                            {% case "componentBSlideshow" %}

                            {% include 'shared/components/slideshow/index.twig' %}

                            {% case "componentBVideo" %}

                            {% include 'shared/components/video/index.twig' %}

                            {% default %}

                            {% endswitch %}

                        {% endfor %}

                    </div>

                {% endif %}

            {% endnav %}
        </div>

        <div class="logo">
            <img src="/assets/logo-black.png" alt="">
        </div>

        {% if socialMedia.socialMedia | length %}

            {% set medialLinks = socialMedia.socialMedia[0] %}

            <ul class="menu-social">
                {% if medialLinks.facebook | length %}
                    <li class="menu-social__item">
                        <a class="menu-social__link" href="{{ medialLinks.facebook }}" target="_blank">
                            <img src="/assets/iconmonstr-facebook-1-black.svg" alt="social-logo">
                        </a>
                    </li>
                {% endif %}
                {% if medialLinks.twitter | length %}
                    <li class="menu-social__item">
                        <a class="menu-social__link" href="{{ medialLinks.twitter }}" target="_blank">
                            <img src="/assets/iconmonstr-twitter-1-black.svg" alt="social-logo">
                        </a>
                    </li>
                {% endif %}

                {% if medialLinks.instagram | length %}
                    <li class="menu-social__item">
                        <a class="menu-social__link" href="{{ medialLinks.instagram }}" target="_blank">
                            <img src="/assets/iconmonstr-instagram-11-black.svg" alt="social-logo">
                        </a>
                    </li>
                {% endif %}
                {% if medialLinks.pinterest | length %}
                    <li class="menu-social__item">
                        <a class="menu-social__link" href="{{ medialLinks.pinterest }}" target="_blank">
                            <img src="/assets/iconfinder_pinterest_306183-black.svg" alt="social-logo">
                        </a>
                    </li>
                {% endif %}
            </ul>
        {% endif %}

            {#{% include 'shared/components/slideshow/index.twig' %}#}

            {#{% include 'shared/components/video/index.twig' %}#}

            {#{% include 'shared/components/detail/index.twig' %}#}

            {#{% include 'shared/components/header/index.twig' %}#}


        {#<section class="page" id="page1">#}
        {#<h1>Alterna Video/Feature<br/>Section</h1>#}
        {#</section>#}

        {#<section class="page" id="page2">#}
        {#<div class="copy page2-copy page2-pin">#}
        {#<h2>2019</h2>#}
        {#<div class="divider"></div>#}
        {#<div class="page2-copy-content">#}
        {#<h4>Alterna<br/>Brand History</h4>#}
        {#<p>Nisi vero cumque voluptatem deserunt autem nihil inventore. Excepturi soluta assumenda autem aut totam debitis dolor. Voluptas sequi architecto autem nemo. Aut est consectetur ut nemo ut. Aut dolores excepturi aut est optio suscipit. Minus aut dignissimos ullam est. Iusto maxime velit veniam iste voluptate consequuntur qui.</p>#}
        {#</div>#}
        {#</div>#}
        {#<img class="page2-image1" src="assets/test-anchor-image.png">#}
        {#<div class="page2-image2 page2-pin"></div>#}
        {#</section>#}

        {#<section class="page" id="page3">#}
        {#<div class="copy page3-copy">#}
        {#<h2>2018</h2>#}
        {#<div class="divider"></div>#}
        {#<div class="page3-copy-content">#}
        {#<div>#}
        {#<h5>Aut dolores excepturi aut est optio suscipit. Minus aut dignissimos ullam est. Iusto maxime velit veniam iste voluptate consequuntur qui.Aut dolores excepturi aut est optio suscipit. Minus aut dignissimos ullam est. Iusto maxime velit veniam iste voluptate consequuntur qui.</h5>#}
        {#<img class="page2-image1" src="assets/test-anchor-image.png">#}
        {#</div>#}
        {#<div>#}
        {#<p>Et qui omnis veritatis tenetur autem autem. Perferendis reprehenderit est assumenda mollitia consequuntur. Vel voluptatem quia consequuntur adipisci et ut vel vel. Ut enim provident rerum blanditiis sunt itaque.#}
        {#Et qui omnis veritatis tenetur autem autem. Perferendis reprehenderit est assumenda mollitia consequuntur. Vel voluptatem quia consequuntur adipisci et ut vel vel. Ut enim provident rerum blanditiis sunt itaque.#}
        {#</p>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}
        {#</section>#}
        {#<section class="page" id="page4"></section>#}
    </div>

{% endblock %}
