{% if block.backgroundImage | length %}
    {% include "/shared/functions/addImage.twig" with {
    'image': block.backgroundImage[0],
    'bgImage': true,
    'selector': '.video__bg--'~year.title~loop.index,
    'format':block.backgroundImage[0].extension
    } %}
{% endif %}
<section class="page video" id="page4">
    <div class="video__bg video__bg--{{ year.title~loop.index }}"></div>
    <div class="copy video__copy" style="opacity: 1">

        <div class="section-header">
            <div class="section-header__year">
                <h2>
                    {{ year.title }}
                </h2>
            </div>
            <div class="section-header__title">
                <h2>
                    {{ block.headerTitle }}
                </h2>
            </div>
        </div>

        {% if block.anchorImage | length %}
          {% if block.anchorImage[0].kind == 'image' %}
            {% include "/shared/functions/addImage.twig" with {
            'image': block.anchorImage[0],
            'bgImage': true,
            'selector': '.video__content--'~year.title~loop.index,
            'format':block.anchorImage[0].extension
            } %}
            {% endif %}
        {% endif %}

        <div class="video__content video__content--{{ year.title~loop.index }}">

        {% if block.anchorImage | length %}
            {% if block.anchorImage[0].kind == 'video' %}
                <div class="video__video-bg">
                    <video muted loop autoplay playsinline>
                        <source src="{{ block.anchorImage[0].url }}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
                <a class="video__play-btn" href="video-modal-{{ loop.index }}">
                    <figure>
                        <img src="/assets/iconmonstr-media-control-48.svg" alt="play">
                    </figure>
                    <p class="h5">
                        Watch the video.
                    </p>
                </a>
            {% else %}
                <div class="video__play-btn"></div>
            {% endif %}
        {% else %}
            <div class="video__play-btn"></div>
        {% endif %}

            {#TODO(front): исправить отображение video__description так как если не будет ссылки текст съезжает влево #}


            <div class="video__description">
                <h3>
                    {{ block.anchorDescription }}
                </h3>
            </div>
        </div>
        <div class="video__modal" id="video-modal-{{ loop.index }}">
            <div class="video__modal-close-btn">
                <div class="plus-minus close"></div>
            </div>
            <div class="video__modal-container">
                <video id="video" class="video__modal-video">
                    <source src="{{ block.anchorImage[0].url }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <div class=" video__btn video__controls">

                    <button id="playpause" class="video__btn video__btn--play" title="play">
                        <img src="/assets/iconmonstr-media-control-48--white.svg" alt="" class="video__btn video__btn-img video__btn-img--show video__btn-img--hide">
                        <img src="/assets/iconmonstr-control-pause--white.svg" alt="" class="video__btn video__btn-img video__btn-img--show ">
                    </button>

                    <button id="mute" class="video__btn video__btn--volume-on">
                        <img src="/assets/volume-on-indicator.svg" alt="" class="video__btn video__btn-img--show">
                        <img src="/assets/volume-off-indicator.svg" alt="" class="video__btn video__btn-img--show video__btn-img--hide">
                    </button>

                </div>
                <span class="video__btn video__time current">0:00</span>
                <div class="video__btn progressBar--wrapper">

                    <div class="video__btn progressBar">
                        <div class="video__btn timeBar">
                            <div class="video__btn pointer"></div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    {% if block.parallaxImage | length %}
        {% include "/shared/functions/addImage.twig" with { 'image': block.parallaxImage[0] , 'picture_class':'video__img-bg' , 'format':block.parallaxImage[0].extension } %}
    {% endif %}
</section>
